In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
import warnings
warnings.filterwarnings("ignore")

In [2]:
h=pd.read_csv('f2.csv')

In [3]:
h.head()

,patient_id,tumor_size,tobacco_use,alcohol_consumption,reverse_smoking,restricted_mouth_opening,gender,age_group,diagnosis
0,187,1.8,Yes,No,No,3,M,2,Leukoplakia with dysplasia
1,189,0.6,No,Yes,No,4,F,2,Leukoplakia without dysplasia
2,201,3.9,Yes,No,Yes,2,M,2,OSCC
3,202,4.4,Yes,Yes,Yes,1,M,2,OSCC
4,204,0.2,No,Yes,No,4,M,1,Leukoplakia without dysplasia

In [5]:
h.keys()

Index(['patient_id', 'tumor_size', 'tobacco_use', 'alcohol_consumption',
       'reverse_smoking', 'restricted_mouth_opening', 'gender', 'age_group',
       'diagnosis'],
      dtype='object')

In [6]:
h['tobacco_use'] = h['tobacco_use'].replace({'No': 0, 'Yes': 1})
h['tobacco_use'] = h['tobacco_use'].astype(int)
h['alcohol_consumption'] = h['alcohol_consumption'].replace({' No': 0, ' Yes': 1,'No': 0, 'Yes': 1})
h['alcohol_consumption'] = h['alcohol_consumption'].astype(int)
h['reverse_smoking'] = h['reverse_smoking'].replace({'No': 0, 'Yes':1})
h['reverse_smoking'] = h['reverse_smoking'].astype(int)
h['gender'] = h['gender'].replace({'M': 0, 'F': 1})
h['gender'] = h['gender'].astype(int)
h['diagnosis'] = h['diagnosis'].replace({'Leukoplakia without dysplasia': 0, 'Leukoplakia with dysplasia':1, 'OSCC':2})
h['diagnosis'] = h['diagnosis'].astype(int)

In [7]:
h.head()

,patient_id,tumor_size,tobacco_use,alcohol_consumption,reverse_smoking,restricted_mouth_opening,gender,age_group,diagnosis
0,187,1.8,1,0,0,3,0,2,1
1,189,0.6,0,1,0,4,1,2,0
2,201,3.9,1,0,1,2,0,2,2
3,202,4.4,1,1,1,1,0,2,2
4,204,0.2,0,1,0,4,0,1,0

In [8]:
h.tail()

,patient_id,tumor_size,tobacco_use,alcohol_consumption,reverse_smoking,restricted_mouth_opening,gender,age_group,diagnosis
68,277,1.0,1,1,0,4,0,1,0
69,278,0.2,1,1,0,4,0,0,0
70,279,0.8,0,1,1,4,1,1,0
71,280,0.9,1,0,1,4,0,2,0
72,281,0.1,0,0,1,4,0,2,0

In [9]:
print(h.drop_duplicates())

    patient_id  tumor_size  tobacco_use  alcohol_consumption  reverse_smoking  \
0          187         1.8            1                    0                0
1          189         0.6            0                    1                0
2          201         3.9            1                    0                1
3          202         4.4            1                    1                1
4          204         0.2            0                    1                0
..         ...         ...          ...                  ...              ...
68         277         1.0            1                    1                0
69         278         0.2            1                    1                0
70         279         0.8            0                    1                1
71         280         0.9            1                    0                1
72         281         0.1            0                    0                1

    restricted_mouth_opening  gender  age_group  diagnosis
0                          3       0          2          1
1                          4       1          2          0
2                          2       0          2          2
3                          1       0          2          2
4                          4       0          1          0
..                       ...     ...        ...        ...
68                         4       0          1          0
69                         4       0          0          0
70                         4       1          1          0
71                         4       0          2          0
72                         4       0          2          0

[73 rows x 9 columns]

In [10]:
x = h.drop(['patient_id', 'diagnosis'], axis=1)
y = h['diagnosis']

In [11]:
x

,tumor_size,tobacco_use,alcohol_consumption,reverse_smoking,restricted_mouth_opening,gender,age_group
0,1.8,1,0,0,3,0,2
1,0.6,0,1,0,4,1,2
2,3.9,1,0,1,2,0,2
3,4.4,1,1,1,1,0,2
4,0.2,0,1,0,4,0,1
...,...,...,...,...,...,...,...
68,1.0,1,1,0,4,0,1
69,0.2,1,1,0,4,0,0
70,0.8,0,1,1,4,1,1
71,0.9,1,0,1,4,0,2
72,0.1,0,0,1,4,0,2

In [12]:
X_encoded = pd.get_dummies(x)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2,random_state=3)

In [14]:
rf_classifier = RandomForestClassifier(random_state=42)
rf_classifier.fit(X_train, y_train)
rf_y_pred = rf_classifier.predict(X_test)

# Evaluate the model
rf_accuracy = accuracy_score(y_test, rf_y_pred)
rf_classification_report = classification_report(y_test, rf_y_pred)

# Print the results
print("\nRandom Forest Classifier:")
print(f"Accuracy: {rf_accuracy:.2f}")
print("Classification Report:\n", rf_classification_report)

Random Forest Classifier:
Accuracy: 0.93
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00         4
           1       0.86      1.00      0.92         6
           2       1.00      0.80      0.89         5

    accuracy                           0.93        15
   macro avg       0.95      0.93      0.94        15
weighted avg       0.94      0.93      0.93        15

In [19]:
x_new = np.array([3,0,1,1,0,0,2]).reshape((1, -1)) 
prediction = rf_classifier.predict(x_new)
print(prediction)

[2]

In [25]:
pd.to_pickle(rf_classifier,'hello.pickle')

In [26]:
model=pd.read_pickle('hello.pickle')